<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836180782425-shno0sm5e5eg9d0gbtq05eqg8job9ehh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836180782425-shno0sm5e5eg9d0gbtq05eqg8job9ehh</string>
	<key>API_KEY</key>
	<string>AIzaSyBH4KFU1-NPUtvH9HWxcilKXf31col-M3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>836180782425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ChatSwiftUI.ChatSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>chatswiftui-aea81</string>
	<key>STORAGE_BUCKET</key>
	<string>chatswiftui-aea81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836180782425:ios:0e6796986d2a246c2f3048</string>
</dict>
</plist>